/* 임포트 순서 중요하다 위에서 부터 아래로 읽으니까 */

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";

body {
  color: #473a47;
  height: 85vh;
  width: 100vw;
  font-family: "Nanum Gothic", sans-serif;
}
.main-screen {
  padding: 0px var(--horizontal-space) 78px var(--horizontal-space);
}

*::-webkit-scrollbar {
  width: 10px;
}
*::-webkit-scrollbar-thumb {
  background-color: #b8a1d4;
  border-radius: 10px;
  background-clip: padding-box;
  border: 2px solid transparent;
}
*::-webkit-scrollbar-track {
  background-color: #dea9c3;
  border-radius: 10px;
  box-shadow: inset 0px 0px 5px white;
}
