:root {
  --yellow: #fae100;
  --lilac: #c8a2c8;
  --deep-green: #5b7a4b;
  --weak-green: #aec7a1;
  --weak-lilac: #ffe8ff;
  --horizontal-space: 25px;
  --main-border: 1px solid rgba(0, 0, 0, 0.2);
  --gray: rgba(0, 0, 0, 0.5);
}
