.more-screen .icon-row {
  margin-top: 35px;
}
.more-news {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}
.more-news__title {
  margin-bottom: 25px;
}
.more-news__component {
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 15px;
  box-shadow: 1px 1px 15px -5px var(--gray);
  margin-bottom: 20px;
}
.more-news__component-img {
  width: 150px;
  height: 150px;
  border-radius: 60px;
  margin-right: 10px;
}
.more-news__component-title {
  font-weight: 700;
  margin-bottom: 10px;
}
.more-news__component-text {
  margin-top: 5px;
  font-size: 17px;
  color: rgba(0, 0, 0, 0.5);
}
