.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box; /*padding은 주고 싶은데 박스 크기가 늘어나는걸 원하지 않을때 사용*/
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 1px 1px 15px -5px var(--gray);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  /*자식이 position:absolute를 쓰기 위해서 
  부모 container에서 position:relative를 써야함*/
  position: relative;
  color: #473a47;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(370deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
  position: absolute;
  left: 18px;
  bottom: 18px;
  animation: notificationAnimation 2s ease-in-out infinite;
}
.nav__reddot {
  color: tomato;
  font-size: 70px;
  position: absolute;
  right: 0px;
  bottom: 30px;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 0.5s ease-in-out forwards;
}
.nav__btn:nth-child(2) {
  animation-delay: 0.3s;
}
.nav__btn:nth-child(3) {
  animation-delay: 0.6s;
}
.nav__btn:last-child {
  animation-delay: 0.9s;
}
